nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.Mary {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 18px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
    }

nav a {
    text-decoration: none;
    color: #474747;
}