/* common style */
body {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* header style */
.header{
    background-color: #FFF8F3;
}

/* nav style of header section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-mary {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
/* banner section */

.banner{
    padding: 30px 30px 30px 200px ;
    display: flex;
    align-items: center;
}
.banner .banner-pic{
    width: 584px;
}