/* common styles */
body {
    font-family: "Open Sans", sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 05px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;


}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-title {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 45px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color:#FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
width: 500px;
}